@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.header_container {

    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 35px;
    height: 65px;
    align-items: center;
}

nav img {
    border-right: 1px solid rgba(255, 255, 255, 0.659);
    padding-right: 45px;
    width: 8rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 46%;
}


nav ul {
    display: flex;

}

ul li {
    list-style: none;
}

ul li a {
    padding: 2px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 3px;
    transition: all 0.3s ease;
}

ul li a:hover {
    border: 1px solid rgb(160, 142, 36);
    border-radius: 5px;
    opacity: 0.8;
    background-color: white;
    color: rgb(160, 142, 36);
}


button {
    background-color: rgb(187, 79, 226);
    border: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 11px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid rgb(187, 79, 226);
    transition: all 0.3s ease-in;
}

button:hover {
    border: 1px solid rgb(187, 79, 226);
    background-color: #fff;
    color: #000000;
    cursor:pointer;
}

/* hero section  */

.hero {
    width: 100%;
    height: 89.6vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bg.png');
    background-attachment: fixed;
    background-size: cover;    
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;
}

.hero_content {
    /* border: 2px solid red; */
    /* margin-bottom: 40px; */
    position: absolute;
    top: 25%;
}

.hero h1 {
    font-size: 60px;
    width: 550px;
    padding-bottom: 10px;
}

.hero_content p {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.6;
}

.hero_content .hero_btn {
    margin-top: 40px;
}

.hero_btn button {
    padding: 10px 15px;
    font-size: 15px;
}

